a.hover{
    text-decoration-color: none;
}
.nav-link:hover, .nav-link:focus {
    background-color: #56b2e6;
    color: black;
}
.nav-pills .nav-link{
    border-radius: none !important;
}
.btn{
    border-radius: none !important;
}
.btn:hover{
    box-shadow: #000022 2px;
}
/* i:hover{
    color: #56b2e6;
} */
header{
    /* background-image: radial-gradient(rgba(0,0,0,0.3),rgba(95,158,160, 0.2), rgba(95,158,160, 0.7),rgba(0,0,0,0.3)); */
    background-image: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8));
    color: black;
}
header .card{
background: none !important;
}
.bg-def{
    background-color: #56b2e6;
}
#bio_image{
    height: 20em;
    width: 20em;
}

#projects{
    background-image: url(/assets/img/bck.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
}
#education,#mailing,footer{
    background: rgba(0,0,0,0.5);
    /* height: 55vh; */
}

#skills{
    background: cadetblue;
    /* height: 55vh; */
}
#resume,#social,#address{
background: rgba(0, 149, 255, 0.095);
}


.hvr-underline-from-left{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 5%;
    right: 95%;
    bottom: 0;
    background: #56b2e6;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, 
.hvr-underline-from-left:focus:before, 
.hvr-underline-from-left:active:before {
    right: 0;
}

label.line {
    display: block;
    background-color: #56b2e6;
    width: 65px;
    height: 3px;
}
.form-control{
    border-radius: none !important;
}
textarea{
    height: 13em;
}

.quote{
    background-color: cadetblue;
    border-right: 0.5em solid rgba(0,0,0,0.5);
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.8em;
}