body{
    position: relative;
    font-family: Cochin, 'Times New Roman', serif;
}

p{
    font-family: Cormorant;
    font-size: 17px;
}
a{
    color: #000;
}
a:hover,h4 i{
    text-decoration: none !important;
    color: #56b2e6;
}
a.btn, button.btn, .form-control{
    color: #000;
    border: 1px dashed #56b2e6;
    border-radius: 0 !important;
    background-color: #fff;
}

#pills-tab li a{
    color: #000;
}
#pills-tab li a.active{
    color: #fff;
}
.nav-pills .nav-link{
    border-radius: 0em !important;
}

.nav-link:hover, .nav-link:focus, .navbar-light .navbar-nav .nav-link.active, .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #56b2e6;
}

header{
    background-image: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8));
    color: black; 
} 
header .card{
background: none !important;
}
#projects .card:hover{
   box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
}
#pills-tabContent .card img{
    height: 14rem;
}
#bio_image{
    height: 20rem;
    width: 20rem;
}
@media (max-width: 320px) {
    #bio_image{
        height: 18rem;
        width: 18rem;
    }
}
#education,#mailing{
    background: rgba(0,0,0,0.5);
}

#skills,footer,button.btn:hover,a.btn:hover,a.btn:active, button.btn:active{
    background: cadetblue;
}
#resume,#social,#address{
background: rgba(0, 149, 255, 0.095);
}

.bg-def{
    background: cadetblue;
}
/* .bg-def-light{
    background: rgba(0, 149, 255, 0.1)
} */

.hvr-underline-from-left{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 5%;
    right: 95%;
    bottom: 0;
    background: #56b2e6;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, 
.hvr-underline-from-left:focus:before, 
.hvr-underline-from-left:active:before {
    right: 0;
}

label.line {
    display: block;
    background-color: #56b2e6;
    width: 65px;
    height: 3px;
}

textarea{
    height: 13em;
}

.quote{
    background-color: cadetblue;
    border-right: 0.5em solid rgba(0,0,0,0.5);
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.8em;
}

.love{
    color: crimson;
    /* font-size: 1.5em; */
}